<p id="notice"><%= notice %></p>
<table>
<tr><p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @club.street_address %>
</p>
  </tr>
<p>-------------------------------------</p>

<tr><p><strong>Bands Playing:</strong></p></tr>

<% @club.booking.each do |q| %>
      <p><strong><%= "#{q.band.name}" %></strong> </p>
          <p><b>Date:</b><%= " #{q.date}" %> </p>
      <p><%= " #{(q.date - Date.today).to_i}  days till the band plays" %></p>
  <% end %>





</table>


  <%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
