<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Num members:</strong>
  <%= @band.num_menbers %>

</p>


<p>-------------------------------------</p>
<strong>Bookings</strong>
<table>
  <tr>
    <th>Club</th>
    <th></th>
    <th>Location</th>
    <th></th>
    <th>Date</th>
    <th></th>
    <th>Fee</th>
  </tr>

  <% @band.booking.each do |q| %>
<tr>
      <td><p><%= q.club.name %></p>
  <td><p>       </p></td>

        <td><p><%=   q.club.street_address %></p></td>
  <td><p></p></td>
      <td><p> <%= q.date %></p></td>
  <td><p></p></td>
     <td><p><%= q.fee %> </p></td>
      </tr>
  <% end %>


</table>






<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
